/*------------------------------------------------------------CSS PADRÃO-------------------------------------------------------------------*/
:root{
    --cor-primaria-sucess: #070736;
    --cor-secundaria-sucess: #69e384;
    --cor-terciaria-sucess: #040426;
    --cor-quartenaria-sucess: #6a6af9;
}

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
}

@font-face {
    font-family: 'Poppins' ;
    src: url('Poppins-Light.ttf') format('truetype');
    font-style: normal;
}

body{
    width: 100%;
    margin-top: 50px;
    background-color: var(--cor-primaria-sucess);
    font-family: 'Poppins';
}

/*------------------------------------------------------------CSS NAVEGADOR-------------------------------------------------------------------*/

.navigation{
    width: 100%;
    height: 100px;
}

.logo{
    padding-left: 30px;
    float: left;
}

.links{
    padding-right: 30px;
    float: right;
}

.links ul li a:hover{
    cursor: pointer;
    color: var(--cor-secundaria-sucess);
    font-weight: bold;
}

.links ul li a:active{
    cursor: pointer;
    color: var(--cor-secundaria-sucess);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.links ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.links ul li a{
    text-decoration: none;
    color: #fff;
}

.buttonAdicionar{
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    border: #fff solid 1px;
    background-color: var(--cor-terciaria-sucess);
}

.buttonAdicionar:hover{
    cursor: pointer;
}
/*------------------------------------------------------------CSS BEM VINDO-------------------------------------------------------------------*/

.title{
    text-align: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    color: #fff;
}

p{
    color: #fff;
    font-size: 27px;
    margin-bottom: 50px;
}

.buttonCatalogo{
    padding: 5px 25px 5px 25px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--cor-secundaria-sucess);
    background-color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    border: var(--cor-secundaria-sucess) solid 3px;
}

.buttonCatalogo:hover{
    cursor: pointer;
}

.buttonCatalogo:active{
    cursor: pointer;
    font-size: 45px;
    background-color: var(--cor-terciaria-sucess);
}

